#if($package)
package $package;
#end
#if($imports && !$imports.isEmpty())

#foreach($import in $imports)
import $import;
#end
#end

#if($classAccessModifier)
$classAccessModifier class $className {
#else
class $className {
#end

#if($attributes && !$attributes.isEmpty())
#foreach($attribute in $attributes)
    $attribute.toStringJava();
#end
#end

#if($constructors && !$constructors.isEmpty())
#foreach($constructor in $constructors)
    $constructor.toStringJava()() {
    }
#end
#end

#if($methods && !$methods.isEmpty())
#foreach($method in $methods)
    $method.toStringJava()( #if($method.hasParameters()) #foreach($param in $method.getParameters())$param.toStringJava()#if($foreach.hasNext), #end#end)#end) {
        return attribute;
    }
#end
#end
}