#if($package)
package $package;
#end
#if($imports && !$imports.isEmpty())

    #foreach($import in $imports)
    import $import;
    #end
#end

#if($interfaceAccessModifier)
    $interfaceAccessModifier class $interfaceName {
#else
class $interfaceName {
#end

}